body {
    margin: 0;
}

.main-container {
    padding: 16px;
    background-color: aqua;
}

.main-navgation {
    padding: 24px;
    background-color: antiquewhite;
}

.main-content {
    padding: 16px;
    text-align: center;
}

.main-content-baidu-imgs {
    text-align: left;
}

.main-content-search-container {
    text-align: center;
}

.main-content-baidu-imgs {
    width: 270px;
    height: 129px;
}

.main-content-search-container {
    font-size: 0;
}

.main-content-search-text {
    border: 2px solid black;
    vertical-align: middle;
    height: 44px;
    width: 512px;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
}

.main-content-search-button {
    border: none;
    vertical-align: middle;
    background-color: #4e6ef2;
    color: #fff;
    border-radius: 0 10px 10px 0;
    height: 44px;
    font-size: 17px;
}

.nav-link {
    text-decoration: none;
}